* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  font-family: "space Mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
}
.col-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container {
  width: 900px;
  margin: 200px auto;
  background-color: #fff;
  padding: 48px;
}
.sub-heading {
  font-size: 20px;
}
input {
  width: 35%;
  border: none;
  padding: 8px 2px;
  background-color: aliceblue;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(3fr);
}
