* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}
h1 {
  text-align: center;
  margin-top: 200px;
  color: hsl(183, 100%, 15%);
  letter-spacing: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1000px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 11px;
  padding: 48px;
  display: grid;
  grid-template-columns: 65fr 35fr;
  gap: 48px;
}
.col-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sub-heading {
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  font-style: unset;
  margin-bottom: 12px;
}
input {
  font-family: inherit;
  width: 100%;
  border: none;
  padding: 8px 12px;
  background-color: aliceblue;
  font-size: 24px;
  text-align: right;
  border-radius: 7px;
}
.bill-label {
  position: relative;
}
.bill-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(./images/icon-dollar.svg) center / contain no-repeat;
}
.num-of-pple:focus,
.bill-input:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  /* border: 5px solid hsl(185, 41%, 84%); */
  box-shadow: inset 0 0 0 5px rgb(196, 229, 232, 0.5);
}
.people-label {
  position: relative;
}
.people-label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(./images/icon-person.svg) center / contain no-repeat;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 12px;
  text-align: center;
  width: 400px;
}
.grid-number,
.grid-custom {
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 12px 24px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 7px;
}
.grid-number:hover,
.reset:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
}
.grid-custom {
  color: hsl(183, 100%, 15%);
  background-color: aliceblue;
}
.col-2 {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 11px;
}
.num-text-header {
  display: flex;
  justify-content: space-between;
}
.tip-total-cont {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.tot-amt,
.tip-amt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reset-box {
  align-self: center;
  margin-top: auto;
}
.tip-text {
  color: #fff;
}
.person {
  display: block;
  margin-top: 6px;
  color: hsl(184, 14%, 56%);
}
.amt {
  font-size: 40px;
  color: hsl(184, 14%, 56%);
  font-weight: 700;
}
.reset {
  font-size: 20px;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
  border: none;
  text-transform: uppercase;
  background-color: hsl(184, 14%, 56%);
  width: 400px;
  padding: 16px 0;
  border-radius: 11px;
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;
}
.attribution a {
  color: hsl(212, 12%, 32%);
}
.attribution a:link,
.attribution a:visited {
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.attribution a:hover,
.attribution a:active {
  color: hsl(171, 66%, 44%);
  text-decoration: underline;
  font-weight: bolder;
}
